tehtava1/build
tehtava1/*.user
tehtava2/build
tehtava2/*.user
tehtava3/build
tehtava3/*.user
tehtava4/build
tehtava4/*.user
tehtava5/build
tehtava5/*.user
tehtava6/build
tehtava6/*.user
tehtava7/build
tehtava7/*.user